
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	color: #666;
	font-size: 87.5%; /* 14px */
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5; /* 21px */
	background: #ccc;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	color: #999;
	font-weight: normal;
	line-height: 1.2;
	margin: 0 0 0.5em 0;
}
h4, h5, h6 {
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 0.2em 0;
}
h1 {
	font-size: 2.0em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1.0em;
}
h6 {
	font-size: 0.9em;
}
p, dl, ol, ul, table {
	margin: 0 0 1.5em 0;
	padding: 0;
}
ol, ul {
	margin-left: 1.2em;
}
table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
dt, dd, li, th, td {
	margin: 0;
	padding: 0;			
}
a {
	color: #66c;
	text-decoration: none;
}
hr {
	clear: both;
	background: none;
	border: 0 none;
	border-top: 2px solid #666;
	margin: 1.5em 0;
}

#content {
	width: 720px;
	min-height: 100vh;
	background: #fff;
	margin: 0 auto;
	padding: 40px;
	position: relative;
}

#validationSummary {
	display: none;
	border: 2px solid #666;
	padding: 8px 16px;
	margin: 0 0 1.5em 0;
}
#validationSummary.valid {
	display: block;
}
#validationSummary.invalid {
	display: block;
	color: #c00;
	border-color: #c00;
}
	#validationSummary p,
	#validationSummary ul {
		margin-bottom: 0;
	}

form {}
fieldset {
	border: 0;
	margin: 0 0 1.5em 0;
	padding: 0;
}
	fieldset span.formnote {
		/* text after form field */
		display: inline-block;
		font-size: 12px;
		font-style: italic;
		margin-left: 5px;
	}
	fieldset.text-fields ol {
		list-style: none;
		margin: 0 0 0.5em 0;
	}
	fieldset.text-fields ol > li {
		margin-bottom: 0.5em;
	}
	fieldset.text-fields.inline ol > li {
		float: left;
		margin-right: 0.5em;
	}
	fieldset.text-fields label {
		display: inline-block;
		width: 140px;
		font-weight: bold;
	}
	fieldset.text-fields label.block {
		display: block;
		width: 200px;
		margin-bottom: 4px;
	}
	fieldset.text-fields label + textarea {
		vertical-align: top;
	}
	fieldset.cb-rb-fields ol {
		list-style: none;
		margin: 0 0 0.5em 0;
	}
	fieldset.cb-rb-fields ol > li {
		margin-bottom: 0.5em;
	}
	fieldset.cb-rb-fields.inline ol > li {
		float: left;
		width: 25%;
	}

input, select, textarea, button {
	color: #333;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.0em;
	line-height: 1.2;
	height: 28px;
	background: #fff;
	border: 2px solid #aaa;
	border-radius: 0;
	margin: 0;
	padding: 2px;
}
input:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
	outline: 0;
}
input:focus,
select:focus,
textarea:focus {
	border-color: #111;
	box-shadow: none;
	outline: 0;
}
input.invalid,
select.invalid,
textarea.invalid {
	border-color: #c00;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email] {
	width: 200px;
}
input[type=tel],
input[type=number] {
	width: 100px;
}
input[type=range] {
	cursor: pointer;
	width: 200px;
}
input[type=checkbox],
input[type=radio] {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: none;
	border: 0;
	padding: 0;
}
select {
	width: auto;
	min-width: 100px;
	max-width: 200px;
}
textarea {
	width: 300px;
	height: 5.2em; /* x4 line-height */
	resize: none;
}
input[type=submit],
input[type=button],
button {
	cursor: pointer;
	font-weight: bold;
	background: #ddd;
	padding: 2px 16px;
}

.clear {
	clear: both;
}

.template {
	display: none;
}
